
  @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600&display=swap');

$white:#ffffff;
$red:#fc5055;
$black:#000000;
$blue:#003790;
$gray:#c4c4c4;
h1,h2,h3,h4,h5,h6{
    font-family: 'Manrope', sans-serif;;
    font-weight: 600;
}
p{
    font-family: 'Manrope', sans-serif;;
    font-weight: 400;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 21px */
    letter-spacing: 0.75px;
}
html{
    
    top: 0;
    left: 0;
    margin: 0;
    overflow-x: hidden; 
    background-color: #F6F8FB;
    scroll-behavior: smooth;
    

}
body{
    top: 0;
    left: 0;
    margin: 0;
    overflow-x:hidden;
}
%fz15_cb{
    font-size: 15px;
    color: $black;
    line-height: 100.023%; /* 15.003px */
    letter-spacing: 0.75px;
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
}
%fz40_cb_left{
    color: #000;
    font-family: 'Manrope', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 100.023%; /* 40.009px */
    letter-spacing: 2px;
}

%btn_standart{
    border-radius: 10px;
    background: $blue;
    border: 5px solid $blue;
    text-align: center;
    padding: 10px 40px ;
    color: $white;
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    transition: all 0.5s;
    &:hover{
        // color: $black;
        // background: transparent;
        box-shadow: 0px 0px 15px 5px #00000085;
    }
}
.btn_standart_burger{
    @extend %btn_standart;
}
a{
    text-decoration: none;
    color: $black;
}
/*------------header------------*/
header{
    position:fixed;
    background-color: $white;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    z-index: 100;
   
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1366px;
        height: 100px;
        margin: 0 auto;
        position: relative;
        z-index: 100; 
        a{
            margin: 0 3%;
        }
        
        img{
            width: 150px;
        }
        .btn_standart{
            @extend %btn_standart;
        }       
    }
}
.middle_nav{
    width: 100%;
    display: flex;
    justify-content: center;
    @extend %fz15_cb;
    white-space: nowrap;
    z-index: -1;
    a{
        z-index: -2;
    }
}
.menu_icon{
    display: none;
}
.btn_standart_burger{
    @extend %btn_standart;
   display: none;
}
@media (max-width:600px) {
    .menu_icon{
        display: block;
        margin: 0 30px;
    }
    .middle_nav{
        opacity: 0;
        transition: all 0.5s;
        width: 100%;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        transform: translateY(-100px);
        background-color: #ffffff;
        a{
            margin: 10px;
            z-index: -2;
        }
        .btn_standart_burger{
            display: block;
         }
    }
    header{
        position:fixed;
        background-color: $white;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
        top: 0;
        left: 0;
        margin: 0;
        width: 100%;
        z-index: 100;
       
        nav{
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 1366px;
            height: 70px;
            margin: 0 auto;
            img{
                width: 150px;
                margin: auto;
            }
            .btn_standart{
                display: none;
            }    
        }
    }
    
}
/*-------------main-------------*/
main{
    max-width: 1366px;
    margin:0 auto;
    .main_screen{
        height: 100vh;
        width: 100%;
        margin: auto;
        display: flex;
        #background-video {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position:absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: -1;
          }
        .text_main_screen{
            color: $white;
            text-align: center;
            font-family: Manrope;
            font-size: calc(13px + 20 * (100vw / 1280));
            font-style: normal;
            font-weight: 600;
            line-height: 160.023%; /* 63.014px */
            letter-spacing: 5.985px;
            // display: flex;
            // flex-direction: column;
            // align-items: center;
            // justify-content: center;
            // z-index: 1;
            // height: 100%;
            // width: 100%;
            margin: auto;
            a{
                color: #FFF;
                text-align: center;
                font-family: Manrope;
                font-size: calc(5px + 10 * (100vw / 1280));
                font-style: normal;
                font-weight: 600;
                line-height: 100.023%; /* 25.006px */
                letter-spacing: 1.25px;
                border-radius: 10px;
                background: #FC5055;
                padding: 1em 5em;
                transition: box-shadow 0.5s;
                &:hover{
                    box-shadow: 0px 0px 15px 5px #00000085;
                }

            }
        }
    }
    .line{
        margin: 100px auto;
        height: 1px;
        width: 100%;
        background-color: #D9D9D9;
    }
    .about_us{
        padding: 0 10%;
        position: relative;
        margin: 100px 0;
        .about_us-contaner{
            background-color: $white;
            width: 100%;
            max-height: 530px;
            @media (max-width:700px){
                max-height: 100%;
            }
            h2{
                padding: 2% 30px;
                margin: 0;
                @extend %fz40_cb_left;
            }
            .about_us-content_container{
                display: flex;
                @media (max-width:700px){
                    flex-direction: column;
                }
                .about_us-content{
                    width: 50%;
                    padding: 0 30px;
                    @media (max-width:1366px) {
                        font-size: calc(5px + 10 * (100vw / 1280));
                    }
                    @media (max-width:700px){
                        width: 90%;
                    }
                    
                    video{
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                        max-height: 350px;
                        @media (max-width:1366px) {
                            max-height: 330px;
                        }
                        @media (max-width:700px){
                            margin: 30px 0;
                            max-height: 100%;
                        }
                        
                    }
                }
            }
        }
    }
    .courses{
        padding: 0 10%;
        h2{
            @extend %fz40_cb_left;
            text-align: center;
        }
        .courses-container{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin: 40px 0;
            @media (max-width:1252px) {
                justify-content: center;
                .cours_card{
                    margin: 0 20px;
                }
            }
            
        }
    }
    .cours_card{
        position: relative;
        width: 335px;
        height: 480px;
        border-radius:10px ;
        transition: all 1s ;
        img{
            z-index: -1;
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius:10px ;
            filter: brightness(70%);
            transition: all 0.5s ;

        }
        h3{
            font-size: 25px;
            padding: 20px;
            color: $white;
            z-index: 0;
        }
        p{
            display: none;
            position: absolute;
            bottom: 0;
            padding: 20px;
            color: $white;
            transition: all 1s ;
        }
        &:hover{
            img{
                filter: brightness(40%);
    
            }
            p{
                display: block;
            }
        }
    }
    .news{
        h2{
            @extend %fz40_cb_left;
            text-align: center;
        }       
        .slider-container {
            width: 100%;
            overflow: hidden;
            position: relative;
        }

        .slider {
            display: flex;
            transition: transform 0.3s ease;
        }

        .card {
            width: 375px;
            height: 240px;
            background-color: #ffffff;
            margin: 0 40px;
            .news-card{
                position: relative;
                background-color: $white;
                width: 375px;
                height: 240px;
                p{
                    padding: 20px;
                    margin: 0;
                }
                .news_crad-container{
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    img{
                        margin: 0 20px;
                        width: 40px;
                        height: 40px;
                    }
                }

            }
        }
        .arrows{
            width: 100%;
            margin: 30px 0;
            display: flex;
            justify-content: space-between;
        }
        .all_news{
            font-family: 'Manrope', sans-serif;;
            display: block;
            position: relative;
            margin: 0 ;
            text-decoration: underline;
            &::after{
                content: "→";
                font-family: 'Manrope', sans-serif;;
            }
        }
        button{
            width: 30px;
            margin: 0 30px;
            height: 30px;
            position: relative;
            background-color: transparent;
            border: none;
            cursor: pointer;
            &#prev{
                transform: scaleX(-1);
                &::after{
                    content: "";
                    top: 0;
                    left: 0;
                    width: 20px;
                    height: 2px;
                    transform: rotate(50deg) translate(8.7px) ;
                    
                    background-color: $blue;
                    position: absolute;
                    transition: all 0.5s cubic-bezier(0.215, 0.610, 0.355, 1);
                }
                &::before{
                    content: "";
                    bottom: 0;
                    left: 0;
                    width: 20px;
                    height: 2px;
                    transform: rotate(-50deg) translate(8.7px);
                    background-color: $blue;
                    position: absolute;
                    transition: all 0.5s cubic-bezier(0.215, 0.610, 0.355, 1);
                }
                &:hover::before,
                &:hover::after {
                    /* Стили для :hover */
                    background-color: $red; /* Замените $red на желаемый цвет */
                }
            }
            &#next{
                &::after{
                    content: "";
                    top: 0;
                    left: 0;
                    width: 20px;
                    height: 2px;
                    transform: rotate(50deg) translate(8.7px);
                    background-color: $blue;
                    position: absolute;
                    transition: all 0.5s cubic-bezier(0.215, 0.610, 0.355, 1);
                }
                &::before{
                    content: "";
                    bottom: 0;
                    left: 0;
                    width: 20px;
                    height: 2px;
                    transform: rotate(-50deg) translate(8.7px);
                    background-color: $blue;
                    position: absolute;
                    transition: all 0.5s cubic-bezier(0.215, 0.610, 0.355, 1);
                }
                &:hover::before,
                &:hover::after {
                    /* Стили для :hover */
                    background-color: $red; /* Замените $red на желаемый цвет */
                }
            }
        }
    }    
}

/*------------footer------------*/
footer{
    top: 0;
    left: 0;
    margin: 0;
    background-color: $blue;
    color: $white;
    a{
        color: $white;
        font-family: 'Manrope', sans-serif;;
        font-weight: 400;
        @media (max-width:727px) {
            margin: 10px 0;
        }
    }
}
.line_footer{
    height: 1px;
    width: 90%;
    margin: 0 auto;
    background-color: $white;
}
.footer-content{
    padding: 0 180px;
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    @media (max-width:1252px){
        padding: 0 50px;
    }
    @media (max-width:727px) {
        flex-wrap: wrap ;
        justify-content: center;
    }
}
.footer-contnent_social{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .footer-contnent_social-content{
        margin: 0 30px;
        display: flex;
        a{
            img{
                transition: all 1s;
            }
            &:hover{
                img{
                    transform: rotate(360deg);
                }
            }
        }
    }
}

.tel-container{
    display: flex;
    flex-wrap: wrap;
    .tel{
        margin: 0 50px 0 0;
    }
    @media (max-width:727px) {
        justify-content: center;
    }
}
.footer-content_adress{
    margin: 0 100px 0 0;
    a{
        &::after{
            content: "→";
            margin: 0 10px;
        }
    }
    @media (max-width:1252px){
        margin: 0;
    }
}
.footer-copyright{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 110px;
    font-size: 10px;
    img{
        width: 100px;
        height: 25px;
    }
    @media (max-width:727px) {
        margin: 0 40px;
    }
}